body {
    overflow-x: hidden;
    background: black;
}
h1, nav, footer, footer p, main, #about, form, #text article, #form-payment, figure {
    display: flex;
} 
#burger, #choice, #close-choice, #div-quantity, #submit, #text article, #text button, #section-payment, figure, figure button {
    position: absolute;
}
h1, nav, footer p {
    justify-content: center;
}
#nav-header, #text, #burger, #text article, #about p, #menu-items h2, #submit, #choice, #contacts, #form-payment {
    margin-left: auto;
    margin-right: auto;
}
#nav-header, #about figcaption, #menu-items, #text, #add-nom, #food-name, footer, #text button div, table, label, #quantity, #close-choice, figure button {
    color: white;
}
h2, #food-name, #quantity {
    text-align: center;
}

/* FONT-SIZE */
h1, #menu-items h2, #close-choice {
    font-size: 100px;
}
li, #shopping-cart, #cart-content h2, #close, #left, #right, #submit{
    font-size: 80px;
}
#command, #form-payment {
    font-size: 60px;
}
table, #contacts input, textarea, #contacts label {
    font-size: 50px;
}
#add-form label, #add-form input, #add-form select, #plus, #moins{
    font-size: 40px;
}
footer {
    font-size: 2vmin;
}
#about, #item div, #nav-header li {
    font-size: 3vmin;
}

#close-choice, #add-form div input, button {
    border: none;
}
#close-choice, #food-name, #quantity {
    background: none;
}

/* WIDTH */ 
#nav-header, #item, #section-payment, footer {
    width: 100%;
}
#about, #menu-items h2, .items, #text, #contacts {
    width: 96%;
}
#item div, #submit, #div-quantity, #form-payment {
    width: 80%;
}

/* BORDER */
#about {
    border: 5px solid #494949;

}

#menu-items h2, #nav-header {
    font-family: 'Bubblegum Sans', cursive;
}
#nav-header, #burger {
    opacity: 0.8;
}
table, #add img, #text article {
    margin-top: 100px;
}
#about, #text {
    height: 85vh;
}
#nav-header {
    z-index: 12;
    top: 0;
    position: fixed;
    padding-block: 60px;
    background-color: #181818;
}


li {
    list-style: none;
    margin-left: 100px;
    padding-block: 10px;
}
li:hover, #shopping-cart:hover {
    opacity: 0.9;
    cursor: pointer;
    text-shadow: 3px 3px 8px #f6aa1c;

}
#burger {
    width: 10%;
    aspect-ratio: 1/1;
    height: 350px;
    background-color: #181818;
    border-radius: 50%;
    top: 0;
    z-index: 13;
}
#burger img {
    width: 80%;
    top: 5%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#shopping-cart {
    margin-top: 5px;
    color:white;
    float: right;
    margin-right: 50px;
}
#close-choice {
    width: 100px;
    height: 100px;
}
.hidden {
    display: none;
}
#about, tr, #item img, #text, #form-payment label {
    margin-top: 50px;
}

/* ABOUT */
#about {
    flex-direction: column;
    background-color: #181818;
    margin-right: auto;
    margin-left: auto;
    margin-top: 400px;
}
figure {
    flex-direction: column;
    height: 100%;
}
figcaption {
    text-shadow: 4px 4px 8px #f6aa1c;
    width: 90%;
    height: 30%;
    opacity: 0.8;
    margin-right: auto;
    margin-left: auto;
    overflow-y: auto;
    background: black;
    padding-block: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
figure div {
    display: flex;
    flex-direction: row ;
}
figure img {
    padding: 50px;
    height: 40%;
    max-width: 3000px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
figure #left {
    left: 100px;
}
figure #right {
    right: 100px;
}
figure button div {
    width: 100px;
    height: 100px;
    padding: 40px;
}


/* BASKET */
#cart-content {
    width: 800px;
    height: 100%;
    position: fixed;
    background-color: #181818;
    right: -800px;
    top: 0px;
    color: white;
    z-index: 15;
    border: 1px solid #494949;
}
#close {
    width: 150px;
    height: 150px;
    padding: 20px;
    float: right;
    opacity: 0.5;
    color: white;
}
#close:hover {
    cursor: pointer;
    opacity: 0.8;
}
table {
    margin-left: 40px;
}
td {
    margin-left: 40px;
    padding-top: 50px;
}
#td-nom {
    width: 500px;
}
#command {
    margin-left: 50px;
    margin-top: 50px;
    padding-block: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: none;
    border: 5px solid;
    border-image: linear-gradient(30deg, #ff6200, #ffff00) 5;
    color: white;
}


/* MENU */

#menu-items h2 {
    text-shadow: 4px 4px 8px #f6aa1c;
    background-color: rgb(18, 18, 18);
    padding-block: 50px;
    border: 5px solid #494949;
}
.items {
    opacity: 0.9;
    margin-left: auto;
    margin-right: auto;
}
#item {
    background-color: #181818;
    margin-top: 20px;
    height: 700px;
    display: flex;
}
#item img {
    width: 600px;
    height: 600px;
    border-radius: 20%;
    margin-left: 5%;
    margin-right: 5%;
}
#item img:hover {
    transform: scale(1.3);
    opacity: 0.9;
}
#item div {
    margin-left: auto;
    margin-right: auto;
}

/* CHOICES */
#choice {
    border: 5px solid #494949;
    width: 90%;
    height: 90%;
    background-color: #181818;
    left: 0;
    right: 0;
    display: none;
    z-index: 14;   
}
#close-choice {
    right: 50px;
    margin-right: 20px;
    margin-top: 20px;
}
#close-choice:hover {
    color: #ff6200;
}
#food-name {
    border: none;
}
#add img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 15%;
    aspect-ratio: 1/1;
    margin-bottom: 100px;
}
#add-form {
    flex-direction: column;
}
#add-form div {
    margin-top: 50px;
}
#add-form label {
    width: 50%;
    float: left;
    margin-left: 10%;
    background: #131313;
    padding-left: 100px;
}
#add-form select {
    background-color: #181818;
    border: 5px solid;
    color: white;
    border-image: linear-gradient(30deg, #ff6200, #ffff00) 5;
    width: 20%;
    margin-right: 10%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('img/arrow.png');
    background-repeat: no-repeat;
    background-position: 98%;
}
select::-ms-expand {
     display: none;
}
#div-quantity {
    right: 10%;
    bottom: 25%;
}
#div-quantity div {
    float: right;
}
#quantity {
    width: 20%;
}
#plus, #moins {
    background-image: linear-gradient(30deg, #ff6200, #ffff00);
    width: 100px;
    aspect-ratio: 1/1;
    font-weight: bold;
}
#submit {
    left: 10%;
    right: 10%;
    height: 15%;
    background: none;
    border: 5px solid;
    border-image: linear-gradient(30deg, #ff6200, #ffff00) 5;
    color: white;
    bottom: 5%;
}
#submit:hover {
    opacity: 0.8;
}

main {
    flex-direction: column;
}

/* CONTACT */
#contacts {
    background-color: #181818;
    height: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-block: 50px;
    border: 5px solid;
    border-image: linear-gradient(30deg, #ff6200, #ffff00) 5;
}
#contacts form {
    display: flex;
    flex-direction: column;
}
#contacts form input, textarea {
    border: none;
    background-color: black;

}
#contacts form input, #contacts form label, textarea {
    margin-top: 20px;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    padding-block: 10px;
}

/* SLIDES BUTTONS */
figure button {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: rgb(55, 55, 55);
    opacity: 0.3;
    margin-top: 400px;
    z-index: 13;
}
figure div button:hover {
    opacity: 0.6;
}
#left {
    left: 50px;
}
#right {
    right: 50px;
}

/* PAYMENT */

#section-payment {
    height: auto;
    background-color: #181818;
    color: white;
    z-index: 14;
    display: none;
}
#form-payment {
    margin-top: 5%;
    margin-bottom: 5%;
    flex-direction: column;
}
input[type="radio"] {
    width: 50px;
    height: 50px;
}
/* FOOTER */

footer {
    background-color: rgb(18, 18, 18);
    height: 800px;
    opacity: 0.6;
}
footer p { 
    padding-block: 100px;
    width: 50%;
    text-shadow: 3px 3px 8px #f6aa1c;
}
br {
    margin-top: 10px;
}
a {
    color: white;
}z-index: 14;
    display: none;
}
#form-payment {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 60px;
    flex-direction: column;
}
input[type="radio"] {
    width: 50px;
    height: 50px;
}
/* FOOTER */

footer {
    background-color: rgb(18, 18, 18);
    height: 800px;
    opacity: 0.6;
}
footer p { 
    padding-block: 100px;
    width: 50%;
    text-shadow: 3px 3px 8px #f6aa1c;
}
br {
    margin-top: 10px;
}
a {
    color: white;
}
