body {
    overflow-x: hidden;
}
h1, nav, footer, footer p, main, #about, form, article, #form-payment, figure {
    display: flex;
} 
#burger, #choice, #close-choice, #div-quantity, #submit, #section-payment, figure button {
    position: absolute;
}
h1, nav, footer p {
    justify-content: center;
}
#nav-header, #burger, #about, figure img, figcaption, #nav-menu, #menu-items h2, .items, #item div, #submit, #choice, #contacts, #form-payment {
    margin-left: auto;
    margin-right: auto;
}
#nav-header, #about figcaption, #menu-items, #add-nom, #food-name, footer, table input, label, #quantity, #close-choice, figure button, #command, #cart-content, #paiement, #contacts input, textarea {
    color: white;
}
h2, #food-name, #quantity {
    text-align: center;
}

/* FONT-SIZE */
h1, #menu-items h2, #close-choice {
    font-size: 100px;
}
li, #shopping-cart, #cart-content h2, #close, #left, #right, #submit{
    font-size: 80px;
}
#command, #add-btn {
    font-size: 60px;
}
table, #contacts input, textarea, #contacts label {
    font-size: 50px;
}
#add-form label, #add-form input, #add-form select, #plus, #moins{
    font-size: 40px;
}
#delete, td input, #form-payment input, footer {
    font-size: 2vmin;
}
#about, #item div, #nav-header li, #form-payment label, #paiement{
    font-size: 3vmin; 
}

#close-choice, #add-form div input, button, td input, #food-name, #paiement {
    border: none;
}
#close-choice, #food-name, #quantity, #paiement, input[type="button"] {
    background: none;
}
body, figcaption, input[type="text"], textarea {
    background-color: black;
}

/* WIDTH */ 
#nav-header, #item, #section-payment, footer {
    width: 100%;
}
#about, #nav-menu, #menu-items h2, .items, #contacts {
    width: 96%;
}
#item div, #submit, #div-quantity, #form-payment {
    width: 80%;
} 

/* BORDER */
#about, #menu-items h2, #cart-content, #choice, #contacts, input[type="text"], textarea {
    border: 5px solid #494949;
}
#nav-menu li:hover, #delete, #add-btn, #command, #add-form select, input[type="button"] {
    border: 5px solid;
    border-image: linear-gradient(30deg, #ff6200, #ffff00) 5;
}
#burger, figure button {
    border-radius: 50%;
}

/* MARGIN */
table, #add img, #contacts {
    margin-top: 2%;
}

/* OPACITY */
#nav-header, #burger, figcaption, #close:hover, #submit:hover, #add-btn:hover, #delete:hover{
    opacity: 0.8;
}
li:hover, #shopping-cart:hover, .items, #item img:hover {
    opacity: 0.9;
}
#close, figure button:hover, footer {
    opacity: 0.6;
}

/* TEXT SHADOW */
figcaption, li:hover, #shopping-cart:hover, #menu-items h2, footer p {
    text-shadow: 4px 4px 8px #f6aa1c;
}
#menu-items h2, #nav-header {
    font-family: 'Bubblegum Sans', cursive;
}
#about {
    height: 85vh;
}
#nav-header {
    z-index: 12;
    top: 0;
    position: fixed;
    padding-block: 1%;
    height: 4%;
    background-color: #181818;
}


li {
    list-style: none;
    margin-left: 100px;
    padding-block: 10px;
}
li:hover, #shopping-cart:hover {
    cursor: pointer;
}
#burger {
    width: 7%;
    aspect-ratio: 1/1;
    background-color: #181818;
    top: 0;
    z-index: 13;
}

#burger img {
    width: 80%;
    top: 5%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#shopping-cart {
    margin-top: 5px;
    color:white;
    float: right;
    margin-right: 50px;
}
svg {
    fill: white;
    width: 20%;
}
#close-choice {
    width: 100px;
    height: 100px;
}
.hidden {
    display: none;
}
#about, tr, #item img, #form-payment label {
    margin-top: 50px;
}

/* ABOUT */
#about {
    flex-direction: column;
    background-color: #181818;
    margin-top: 7%;
    height: auto;
}
figure {
    flex-direction: column;
}
figure img {
    width: 96%;
    max-height: 85vh;
    object-fit: cover;
    margin-bottom: 2%;
}
figcaption {
    width: 90%;
    height: 25%;
    overflow-y: auto;
    padding: 2%;
}
figure div {
    display: flex;
    flex-direction: row;
}
figure button {
    top: 25%;
    width: 10%;
}
#left {
    margin-left: 2%;
}
#right {
    margin-right: 2%;
}
figure button div {
    margin-left: 25%;
}


/* MENU */

#nav-menu {
    color: white;
    background-color: #181818;
    margin-top: 4%;
    padding-block: 1%;
}
#nav-menu li {
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 5%;
}
#menu-items h2 {
    background-color: rgb(18, 18, 18);
    padding-block: 50px;
}
#item {
    background-color: #181818;
    margin-top: 20px;
    height: 700px;
    display: flex;
}
#item img {
    width: 600px;
    height: 600px;
    border-radius: 20%;
    margin-left: 5%;
    margin-right: 5%;
}
#item img:hover {
    transform: scale(1.3);
}
#add-btn {
    position: relative;
    right: 7%;
    height: 15%;
    top: 80%;
    background: none;
    color: white;
}

/* BASKET */
#cart-content {
    width: 1200px;
    height: 100%;
    position: fixed;
    background-color: #181818;
    right: -1200px;
    top: 0px;
    z-index: 15;
}
#close {
    width: 150px;
    height: 150px;
    padding: 20px;
    float: right;
    color: white;
}
table {
    margin-left: 5%;
    margin-right: 2%;
}
td {
    padding-top: 2%;
}
td input {
    background: none;
}
#td input{
    width: 100px;
}
#td-nom input {
    width: 600px;
}
#delete {
    background: none;
    color: white;   
    margin-left: 90%;
}
#command {
    position: absolute;
    width: auto;
    bottom: 10%;
    right: 10%;
    padding-block: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: none;
}
/* CHOICES */
#choice {
    width: 90%;
    height: 90%;
    background-color: #181818;
    left: 0;
    right: 0;
    display: none;
    z-index: 14;   
}
#close-choice {
    right: 50px;
    margin-right: 20px;
    margin-top: 20px;
}
#close-choice:hover {
    color: #ff6200;
}
#add img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 15%;
    aspect-ratio: 1/1;
    margin-bottom: 100px;
}
#add-form {
    flex-direction: column;
}
#add-form div {
    margin-top: 1%;
}
#add-form label {
    width: 50%;
    float: left;
    margin-left: 10%;
    background: #131313;
    padding-left: 5%;
}
#add-form select {
    background-color: #181818;
    color: white;
    width: 20%;
    margin-right: 10%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('img/arrow.png');
    background-repeat: no-repeat;
    background-position: 98%;
}
select::-ms-expand {
     display: none;
}
#div-quantity {
    right: 10%;
    bottom: 25%;
}
#div-quantity div {
    float: right;
}
#quantity {
    width: 20%;
}
#plus, #moins {
    background-image: linear-gradient(30deg, #ff6200, #ffff00);
    width: 4%;
    aspect-ratio: 1/1;
    font-weight: bold;
}
#submit {
    left: 10%;
    right: 10%;
    height: 15%;
    background: none;
    color: white;
    bottom: 5%;
}

main {
    flex-direction: column;
}

/* CONTACT */
#contacts {
    background-color: #181818;
    height: 50%;
    margin-bottom: 100px;
    padding-block: 50px;
}
#contacts form {
    display: flex;
    flex-direction: column;
}
#contacts form input, #contacts form label, #contacts textarea {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    padding-block: 10px;
}

/* SLIDES BUTTONS */
figure button {
    width: 200px;
    height: 200px;
    background: rgb(55, 55, 55);
    opacity: 0.3;
    margin-top: 400px;
    z-index: 13;
}
#left {
    left: 50px;
}
#right {
    right: 50px;
}

/* PAYMENT */

#section-payment {
    background-color: #181818;
    color: white;
    position: absolute;
    z-index: 16;
    height: 95vh;
    display: none;
    overflow-y: auto;
}
#form-payment {
    margin-bottom: 5%;
    flex-direction: column;
}
#form-payment input[type="text"] {
    height: 2%;
    color: white;
}
input[type="radio"] {
    width: 50px;
    height: 50px;
}
#paiement {
    margin-top: 2%;
    padding-block: 2%;
}
/* FOOTER */

footer {
    background-color: rgb(18, 18, 18);
    height: 800px;
}
footer p { 
    padding-block: 100px;
    width: 50%;
}
br {
    margin-top: 10px;
}
